<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrôle des Drapeaux Communicants</title>
    <link rel="stylesheet" href="../css/select_color.css">
</head>
<body>
    <div class="headerImg"><img src="../assets/FlagGame_Image.png" alt=""></div>
    
    <div id="timer"></div>
    <div class="container">     
        <div class="container-selector-color score">
            <div class="row">
                <div><h2 id="pseudo-equipe1"></h2><h1 class="center" id="scoreFirstSquad"></h1></div>
                <div><h2 id="pseudo-equipe2"></h2><h1 class="center" id="scoreSecondSquad"></h1></div>
            </div>
            <button id="btn-quitter" class='button-6'>Quitter</button>
        </div>
    </div>

    <script src="../script/jeux.js"></script>
    <script src="../script/timer.js"></script>

</body>
</html>